$splashShadow: rgba(0, 0, 0, 0.5) 0 0 15px;
$splashFontSize: 5em;
$vikingPurple: #4F2683;
$purpleGradientLight: #72519C;
$vikingGold: #FFC62F;

.splash {
    text-align: center;
    margin: 10% 0 0 0;
    color: $vikingPurple;

    .message {
      font-size: $splashFontSize;
      line-height: 1.5em;
      -webkit-text-shadow: $splashShadow;
      text-shadow: $splashShadow;
      text-transform: uppercase;
    }
}

a {
  cursor: pointer;
}

.title {
  text-transform: uppercase;
  color: $vikingPurple;
}

.sk-body {
  div {
    margin-bottom: 10px;
  }
}

.sk-list {
  a {
    display: list-item;
  }
}

.sk-list-container {
  margin-left: -30px;
}

.bg-primary {
  color: #fff;
  background-color: $vikingPurple;
}

/*
 * The following changes are overrides to the default bootstrap stylings
 * TODO: Make the linear-gradient an actual gradient
 */
 .title{
   font-family: -webkit-pictograph;
 }

.panel-primary {
  border-color: $vikingPurple;
  .panel-heading {
    background-image: linear-gradient(to bottom,$vikingPurple 0,$purpleGradientLight 100%);
    background-color: $vikingPurple;
    border-color: $vikingPurple;
  }
}

.side-note {
  font-style:italic;
}
